<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Armazenar leituras feitas para consulta posterior.">
    <meta name="keywords" content="leitura, livro, livros, compreenção de texto, textos">
    <meta name="author" content="uLeandroSP">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="https://github.com/UleandroSI/Ficha-de-leitura">
    <link rel="license" href="MIT License">
    <link rel="icon" type="image/x-icon" href="Caminho da imagem .ico">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>
    <title>Modelo</title>
</head>

<body>
  <main class="main">
    <!-- Header-->
    <header class="header">
      <h1>TITULO PRINCIPAL</h1>
      <p id="menu" class="menu">
        <a href="index.html">Home</a>
        <a id="space">.</a>
        <a href="inserir.html"> Novo</a>
        <a id="space">.</a>
        <a href="termos.html"> Termos</a>
        <a id="space">.</a>
        <a href="#autor"> Autor</a>
      </p>
      <h5 class="d-none d-print-block">Descrição sobre à página.</h5>
    </header>



    <!-- Footer-->
    <footer class="footer">
        <div id="autor">
          <a href="https://github.com/uleandrosi">
            <img src="https://img.icons8.com/fluency/96/000000/github.png" alt="Github">
          </a>
          <a href=mailto:uleandrosp@gmail.com?subject="Contato Ficha Leitura">
            <img src="https://img.icons8.com/fluency/96/000000/apple-mail.png" alt="E-mail">
          </a>
          <p> Desenvolvido por: &copy;uLeandroTI</p>
          <p><a href="https://icons8.com/icon/7rhqrO588QcU/mail">Icon by Icons8</a></p>
        </div>
      </footer>
  </main>
</body>
</html>
