/* ==================== <base> ==================*/
body {
        background-color: rgba(10, 77, 89, 0.5);
        opacity: 0.9;
       }
      .btn:active {
        background-color: rgba(255, 255, 148, 0.6);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
      .col-sm-3 {
        background-color: rgba(255, 255, 148, 0.6);
        opacity: 0.9;
      }
      .col-sm-3 h2 {
        text-align: center;
      }
      .h6 {
        text-align: center;
      }
      footer {
        background-color: rgba(255, 255, 148, 0.6);
        opacity: 0.9;
      }
      .col-6 {
        text-align: center;
      }